<!DOCTYPE html>
<html>
  <head>
    <title>FilmCatalog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%=link_to 'Filmes', films_path%>
      <%=link_to 'Generos', genres_path%>
      <%=link_to 'Diretores', directors_path%>
    </nav>
    <%= yield %>
  </body>
</html>
